@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Afacad_Flux";
  src: local("Afacad Flux"), local("Afacad_Flux");
  font-display: swap;
}

html {
  font-family: Inter, "Afacad Flux", "Afacad_Flux", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}
